[log]
; the log level. Only messages at this level or below will be logged
; -2: errors
; -1: warnings
; 0: information
; 1-9: increasingly less important details
; When liblsl is built with LSL_DEBUGLOG=On, the levels 1-9 will log more details
; The log looks like this:
; Date and time          |  runtime  |  thread ID        | source location        | level | Log message
; 2020-11-11 08:54:08.696 (   3.132s) [        A5247740]   inlet_connection.cpp:46    WARN| The stream named 'timesync' can't be recovered automatically if its provider crashes because it doesn't have a unique source ID
level = -2
